body{
    margin:0;
    padding: 0;
}
header{
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    display: none;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
footer{
    margin-top: 3%;
    border-top: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header,footer{
    padding-left: 5%;
    padding-right: 5%;
}

ul{
    padding:0px;
}

#menu_header{
    display: flex;
    flex-direction: row;
    gap: 5px
}

#button_header{
    display: inline;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 1px;
    box-shadow: 0px 5px 5px black;
}

#button_header:hover{
    background-color: lightgray;
    cursor: pointer;
}

#main_section{
    margin: auto;
    padding : 10px;
}

#element_grid{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#fast_link_team_legal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (width >= 768px){
    #element_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #main_section{
        width: 600px;
    }
    footer{
        flex-direction: row;
        align-items: center;
    }
    #button_header{
        display: none;
    }
    header{
        display: flex;    
    }
    #fast_link_team_legal{
        flex-direction: row;
        width: 70%;
    }
}

@media screen and (width >= 1024px){
    #main_section{
        width: 768px;
    }
}

@media screen and (width >= 1200px){
    #element_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #main_section{
        width: 1024px;
    }
}

.element{
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    flex-direction: column;
}

.image_element{
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    padding: 40px 80px 40px 80px;
    margin:auto;
}

.section_text_element{
    padding: 10px;
    text-align: left;
}

.en_savoir_plus{
    text-decoration: none;
    color: black;
}

.footer_link_cat{
    display: inline;
    flex-direction: column;
}

.list{
    list-style-type: none;
}

#logo_slogan{
    padding: 10px;
    text-align: center;
}
#logo{
    background-color: lightgray;
    padding:15px 30px 15px 30px;
}