hr{
    width: 50px;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
    color: #6c757d;
}

#button-container, #card-list {
    display: flex;
    justify-content: center;
}
