<div id="customer-card">
    <h3>What our customer are saying</h3>
    <hr />
    <div id="customer-content">
        <img [src]="customer.image" alt="{{ customer.name }}" id="avatar" />
        <div id="customer-info">
            <h4>{{ customer.name }}</h4>
            <p id="role">{{ customer.role }}</p>
        </div>
        <blockquote>
            "{{ customer.message }}"
        </blockquote>
    </div>
</div>
<div id="controls">
    <app-eventbutton (click)="previous_message()">←</app-eventbutton>
        @for (customer of message; track $index) {
            @if (customer_index === $index) {
                <li class="li-customer active"></li>
            } @else {
                <li class="li-customer"></li>
            }
        }
    <app-eventbutton (click)="next_message()">→</app-eventbutton>
</div>
  